@page "/checkrarity"
@using Microsoft.Extensions.Logging
@inject ILogger<CheckRarity> Logger
@inject HttpClient Http

<h1>Check Rarity</h1>

<EditForm Model="@checkRarityFormModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>
            Wallet Address:
            <InputText @bind-Value="checkRarityFormModel.WalletAddress" />
        </label>
    </p>
    <p>
        <label>
            Terranaut Id:
            <InputNumber @bind-Value="checkRarityFormModel.TerranautId" />
        </label>
    </p>
    <button disabled="@buttonDisables" type="submit">Submit</button>

</EditForm>
@if (terraContractResult != null)
{
    <div class="row">
    <div class="card bg-light col-lg-12" style="width: 22rem">
        <div class="card-body">
            <h3 class="card-title">Rarity score</h3>
            <ul class="list-group">
                Owner Address: 
                
                <li class="list-group-item">@terraContractResult.result?.owner</li>
            </ul>
            
            <ul class="list-group">
                Properties
                @foreach (var metadata in mappedMetadataResult.Metadata)
                {
                    <li class="list-group-item">@metadata.PropertyType - @metadata.Name <span class="badge badge-secondary">@metadata.Rarity %</span></li>
                  //  <li class="list-group-item">@metadata.First().Value - @metadata.Last().Value <span class="badge badge-secondary">New</span></li>
                }
            </ul>
        </div>
    </div></div>
}
@code {
    private CheckRarityFormModel checkRarityFormModel = new() { WalletAddress = "terra1whyze49j9d0672pleaflk0wfufxrh8l0at2h8q" };
    private TerraContractResult terraContractResult;
    private bool buttonDisables;

    private List<Dictionary<string, string>> metadataResult;

    private MetadataResult mappedMetadataResult = new();

    private async void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");
        buttonDisables = true;
        try
        {
            var terraUrl = $"https://lcd.terra.dev/wasm/contracts/{checkRarityFormModel.WalletAddress}/store?query_msg=%7B%22nft_additional_info%22:%7B%22token_id%22:%22{checkRarityFormModel.TerranautId}%22%7D%7D";

            terraContractResult = await Http.GetFromJsonAsync<TerraContractResult>(terraUrl);
            // Get contract 
            metadataResult = System.Text.Json.JsonSerializer.Deserialize<List<Dictionary<string, string>>>(terraContractResult.result.metadata);
            mappedMetadataResult = MetadataResult.MapMetadata(metadataResult);

            // Get all attributes
            var jsonAttributes = await Http.GetFromJsonAsync<Dictionary<string, Dictionary<string, Dictionary<string, decimal>>>>("attributes/attributes.json");
            var attributes = AttributesResult.MapAttributes(jsonAttributes);

            // Add rarity to the list
            mappedMetadataResult = MetadataResult.MapRarity(mappedMetadataResult, attributes);

        }
        finally
        {
             buttonDisables = false;
             this.StateHasChanged();
        }
        
    }

}